{% extends "layout.html" %}
{% block head %}
<meta charset="utf-8" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js'></script>
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
	<canvas id="bar-chart" width="800" height="450"></canvas>
    <canvas id="barChart" width="600" height="400"></canvas>
    <script>
	new Chart(document.getElementById("bar-chart"), {
	    type: 'bar',
	    data: {
	      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
	      datasets: [
	        {
	          label: "Population (millions)",
	          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	          data: [2478,5267,734,784,433]
	        }
	      ]
	    },
	    options: {
	      legend: { display: false },
	      title: {
	        display: true,
	        text: 'Predicted world population (millions) in 2050'
	      }
	    }
	});



	var canvas = document.getElementById("barChart");
	var ctx = canvas.getContext('2d');

	// Global Options:
	 Chart.defaults.global.defaultFontColor = 'black';
	 Chart.defaults.global.defaultFontSize = 16;

	var data = {
	    labels: ["She returns it ", "She keeps it"],
	      datasets: [
	        {
	            fill: true,
	            backgroundColor: [
	                'black',
	                'white'],
	            data: [5, 95],
	// Notice the borderColor 
	            borderColor:	['black', 'black'],
	            borderWidth: [2,2]
	        }
	    ]
	};

	// Notice the rotation from the documentation.

	var options = {
	        title: {
	                  display: true,
	                  text: 'What happens when you lend your favorite t-shirt to a girl ?',
	                  position: 'top'
	              },
	        rotation: -0.7 * Math.PI
	};


	// Chart declaration:
	var myBarChart = new Chart(ctx, {
	    type: 'pie',
	    data: data,
	    options: options
	});





    </script>
{% endblock %}
